/* -------------------------------------------------------------------------------------
/* 
/* Stylesheet.
/* 
/* A BTH-ish style. 
 */

/* -------------------------------------------------------------------------------------
/* Import standard style */
@import url(stylesheet.css);
@import url(stylesheet_grey.css);

/* -------------------------------------------------------------------------------------
/* Make some changes */
header#top nav {	background: #caecf6; }
header#top nav a {	background: #52afb0; color:white; }

body {
	background: url(../img/bth_bg.jpg) no-repeat;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: smaller;
}

aside.box { background: url(../img/bth_column_green_bg.png) no-repeat; }
footer#bottom { background: url(../img/bth_bg.jpg) no-repeat; color: darkblue; }
